<div id="search-venue-wrapper">
	<div id="back-to-search-div">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="back-to-search-button">Back to search</button>
        </span>
	</div>

	<span class="big-title">Your Reservations</span>

	<div id="reservations-results">
		<div class="reservation" data-reservation-id="">
			<div>
				<span class="venue-name"></span>
			</div>

			<div>
				<span class="venue-address"></span>
			</div>

			<div>
				<span class="venue-city-state-zip"></span>
			</div>

			<br>

			<div>
				<span class="option-title"></span>
			</div>

			<div>
				<span>Your Place In Queue: </span>
				<span class="place-in-queue"></span>
			</div>

			<div>
				<span>Estimated Waiting Time: </span>
				<span class="estimated-wait-time"></span>
			</div>

			<br>

			<div>
				<button class="btn btn-default" type="button">I've arrived</button>

				<button class="btn btn-default" type="button">Remove me from this queue</button>
			</div>
		</div>
	</div>
</div>
